@media (max-width: 800px) {
    #songInfo {
        display: flex;
        flex-direction: column-reverse;
        flex-wrap: wrap;
        align-items: center;
        gap: 1rem;
        justify-content: center;
    }

    #songImage {
        width: 12rem;
        height: 12rem;
    }

}

@media (min-width:800px) {
    
    #songImage {
        width: 30rem;
        height: 30rem;
    }
    
    #songInfo {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 5rem;
    }

}

#artists {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
}

#songName {
    font-size: 3rem;
    font-weight: bold;
    color: #6563ff;
    text-decoration: underline;
}

.songColumn {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    flex-wrap: wrap;
    justify-content: center;
}

#songSection {
    margin-top: 6rem;
    margin-bottom: 6rem;
    animation: fadeIn 1s ease-in;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 0.5;
    }

    100% {
        opacity: 1;
    }
}

#openSpotify {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    border-left: 0.15rem solid #fff;
    border-right: 0.15rem solid #fff;
    border-bottom: 0.15rem solid #fff;
    
    transition: 0.3s;
}

#openSpotify:hover {
    background-color: #6563ff;
    color: #fff;
    border-left: 0.15rem solid #6563ff;
    border-right: 0.15rem solid #6563ff;
    border-bottom: 0.15rem solid #6563ff;
    transition: 0.3s;
}



